.title{
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 40px 0 30px;
}
.title h2{
    font-size: 38px;
    color:#66fcf1;
    margin-top: 5px;
    text-transform: none;
}